<div th:fragment="select_option_contractType" xmlns:th="http://www.thymeleaf.org">
    <select name="contractType" class="form-control mt-1 mr-2">
        <option selected="selected" value="">Rodzaj umowy</option>
            <option value="Umowa o prace">Umowa o pracę</option>
            <option value="Umowa o dzielo">Umowa o dzieło</option>
            <option value="Umowa zlecenie">Umowa zlecenie</option>
            <option value="Kontrakt B2B">Kontrakt B2B</option>
            <option value="Umwa na zastepstwo">Umowa na zastępstwo</option>
            <option value="Umowa agencyjna">Umowa agencyjna</option>
    </select>
</div>