<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<meta charset="UTF-8" name="viewport" content="width = device-width , initial-scale=1.0"/>
<head>
    <link th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.min.css}" rel="stylesheet" media="screen"/>
    <link th:href="@{/webjars/font-awesome/5.11.2/css/all.css}" rel="stylesheet"/>
    <link th:href="@{/static/css/jobOfferCSS.css}" rel="stylesheet"/>
    <link th:href="@{/static/css/homeHeaderCSS.css}" rel="stylesheet"/>
    <script th:src="@{/static/js/selectPicker.js} " type="text/javascript"></script>
    <script th:src="@{/webjars/jquery/3.4.1/jquery.min.js} " type="text/javascript"></script>
    <script th:src="@{/webjars/popper/1.15.0/umd/popper.min.js} " type="text/javascript"></script>
    <script th:src="@{/webjars/bootstrap/4.3.1/js/bootstrap.min.js} " type="text/javascript"></script>
</head>
<body>
<div th:replace="fragments/employerHeader :: headerEmployer"></div>
<div class="container pt-4">
    <h3 class="text-center">Wysłane propozycje ofert pracy</h3>
    <form action="/employer/getAllJobPropEmployer" class="form-inline mb-3" >
        <select name="decision" class="form-control mr-2">
            <option selected="selected" value="" class="font-weight-bold">Wybierz propozycje</option>
            <option value="Nierozpatrzona" >Nierozpatrzone</option>
            <option value="Zaakceptowane">Zaakceptowane</option>
            <option value="Odrzucone">Odrzucone</option>
        </select>
        <input type="submit" value="Szukaj" class="btn btn-primary">
    </form>
    <div class="row" th:each="jobProposition : ${jobPropositions}">
        <dt class="col-sm-3 mt-3">Imię i nazwisko osoby do której wysłano ofertę: </dt>
        <dt class="col-sm-9 mt-3 font-weight-normal"><th th:text="${jobProposition.name}"/> <th th:text="${jobProposition.lastName}"/></dt>
        <dt class="col-sm-3 mt-3">Nazwa stanowiska: </dt>
        <dt class="col-sm-9 mt-3 font-weight-normal"> <th th:text="${jobProposition.positionName}" /> </dt>
        <dt class="col-sm-3 mt-3">Opis: </dt>
        <dt class="col-sm-9 mt-3 font-weight-normal"> <th th:text="${jobProposition.positionDescription}" /></dt>
        <dt class="col-sm-3 mt-3">Zarobki: </dt>
        <dt class="col-sm-9 mt-3 font-weight-normal"> <th th:text="${jobProposition.salary}" /></dt>
        <dt class="col-sm-3 mt-3">Link do oferty: </dt>
        <dt class="col-sm-9 mt-3 font-weight-normal"> <th th:text="${jobProposition.webLinkOffer}" /></dt>
        <dt class="col-sm-3 mt-3">Sposób kontaktu: </dt>
        <dt class="col-sm-9 mt-3 font-weight-normal"><th th:text="${jobProposition.contactType}" /></dt>
        <dt class="col-sm-3 mt-3">Decyzja: </dt>
        <dt class="col-sm-9 mt-3 font-weight-normal"><th th:text="${jobProposition.decision}" /></dt>
        <dt class="col-sm-12 mt-3">
            <a th:href="@{/employer/viewSelectedProfile/{idUser}(idUser=${jobProposition.idUser})}"
               class="btn btn-outline-success  mb-2">Zobacz profil</a>
            <div th:replace="fragments/modal/DeleteJobProp :: deleteJobPropFragment"></div>
        </dt>
    </div>
</div>
</body>
</html>