<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<meta charset="UTF-8" name="viewport" content="width = device-width , initial-scale=1.0"/>
<link th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.min.css}" rel="stylesheet" media="screen"/>
<link th:href="@{/webjars/font-awesome/5.11.2/css/all.css}" rel="stylesheet"/>
<link th:href="@{/static/css/jobOfferCSS.css}" rel="stylesheet"/>
<link th:href="@{/static/css/homeHeaderCSS.css}" rel="stylesheet"/>
<script th:src="@{/webjars/jquery/3.4.1/jquery.min.js} " type="text/javascript"></script>
<script th:src="@{/webjars/popper/1.16.0/umd/popper.min.js} " type="text/javascript"></script>
<script th:src="@{/webjars/bootstrap/4.3.1/js/bootstrap.min.js} " type="text/javascript"></script>
</head>
<body>
<div th:replace="fragments/homeHeader.html :: header"></div>

<div th:switch="${jobOffers}" class="container">
    <p class="my-5">
        <a href="/user/jobOffers/createNew" class="btn btn-success">
            <i class="fas fa-user-plus ml-2"> Dodaj ofertę pracy </i></a>
    </p>

    <h2 th:case="null">No record found !!</h2>
    <div th:case="*">
        <div class="row" th:each="jobOffer : ${jobOffers}">
            <div class="col-10">
                <b>Tytuł: </b>
                <th th:text="${jobOffer.title}"></th> </br>
                <b>Lokalizacja: </b>
                <th th:text="${jobOffer.location}"></th></br>
                <b>Kategoria: </b>
                <th th:text="${jobOffer.category}"></th></br>
            </div>
            <div class="col-2">
                <a th:href="@{/user/jobOffers/editOffer/{idJobOffer}(idJobOffer=${jobOffer.idJobOffer})}"
                   class="btn btn-primary">
                    <i class="fas fa-user-edit"></i>
                </a>
                <a th:href="@{/user/jobOffers/delete/{idJobOffer}(idJobOffer=${jobOffer.idJobOffer})}"
                   class="btn btn-danger ml-3 my-1">
                    <i class="fas fa-user-times"></i>
                </a>
            </div>
        </div>
    </div>
</div>
</body>
</html>