<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<meta charset="UTF-8" name="viewport" content="width = device-width , initial-scale=1.0"/>
<head>
    <link th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.min.css}" rel="stylesheet" media="screen"/>
    <link th:href="@{/webjars/font-awesome/5.11.2/css/all.css}" rel="stylesheet"/>
    <link th:href="@{/static/css/jobOfferCSS.css}" rel="stylesheet"/>
    <link th:href="@{/static/css/homeHeaderCSS.css}" rel="stylesheet"/>
    <script th:src="@{/static/js/selectPicker.js} " type="text/javascript"></script>
    <script th:src="@{/webjars/jquery/3.4.1/jquery.min.js} " type="text/javascript"></script>
    <script th:src="@{/webjars/popper/1.15.0/umd/popper.min.js} " type="text/javascript"></script>
    <script th:src="@{/webjars/bootstrap/4.3.1/js/bootstrap.min.js} " type="text/javascript"></script>
</head>
<body>
<div th:replace="fragments/employerHeader :: headerEmployer"></div>
<div class="container pt-4">
    <h3 class="text-center">Własne oferty pracy</h3>
    <p class="my-5">
        <a href="/employer/jobOffers/createNew" class="btn btn-outline-primary">
            <i class="fas fa-user-plus ml-2"> Dodaj ofertę pracy </i></a>
    </p>
    <div class="row" th:each="jobOffer : ${jobOffers}">
        <dt class=" col-sm-12 font-weight-bold text-lg-center h3">
            <th th:text="${jobOffer.title}"/>
        </dt>
        <dt class="col-sm-3">Lokalizacja: </dt>
        <dt class="col-sm-9 font-weight-normal"><th th:text="${jobOffer.location}"/></dt>
        <dt class="col-sm-3 mt-3">Opis: </dt>
        <dt class="col-sm-9 mt-3 font-weight-normal"> <th th:text="${jobOffer.description}" /> </dt>
        <dt class="col-sm-3 mt-3">Kontakt: </dt>
        <dt class="col-sm-9 mt-3 font-weight-normal"> <th th:text="${jobOffer.contact}" /> </dt>
        <dt class="col-sm-3 mt-3">Kategoria: </dt>
        <dt class="col-sm-9 mt-3 font-weight-normal"> <th th:text="${jobOffer.category}" /></dt>
        <dt class="col-sm-3 mt-3">Nazwa firmy: </dt>
        <dt class="col-sm-9 mt-3 font-weight-normal"> <th th:text="${jobOffer.companyName}" /></dt>
        <dt class="col-sm-3 mt-3">Rodzaj umowy: </dt>
        <dt class="col-sm-9 mt-3 font-weight-normal"> <th th:text="${jobOffer.contractType}" /></dt>
        <dt class="col-sm-3 mt-3">Wymiar pracy: </dt>
        <dt class="col-sm-9 mt-3 font-weight-normal"><th th:text="${jobOffer.workingTime}" /></dt>
        <dt class="col-sm-3 mt-3">Miesięczne wynagrodzenie: </dt>
        <dt class="col-sm-9 mt-3 font-weight-normal"><th th:text="${jobOffer.monthlyPay}" /> <th th:text="${jobOffer.categorySalary}" />
            <a th:href="@{/employer/calculator/{salary}(salary=${jobOffer.monthlyPay})}"
               class="btn btn-outline-success"> Zobacz wyliczoną kwotę netto</a></dt>
        <dt class="col-sm-3 mt-3">Poziom stanowiska: </dt>
        <dt class="col-sm-9 mt-3 font-weight-normal"><th th:text="${jobOffer.positionLevel}" /></dt>
        <dt class="col-sm-12 mt-3">
            <a th:href="@{/employer/jobOffers/editOffer/{idJobOffer}(idJobOffer=${jobOffer.idJobOffer})}"
               class="btn btn-warning mb-2">
                Edytuj <i class="fas fa-user-edit"></i></a>
            <div th:replace="fragments/modal/DeleteJobOfferUser :: deleteJobOfferUserFragment"></div>
            <a th:href="@{/employer/viewProfilePropByJobOffer/{idJobOffer}(idJobOffer=${jobOffer.idJobOffer})}"
               class="btn btn-warning mb-2">
                Zgłoszenia osób<i class="fas fa-user-edit"></i></a>
        </dt>
    </div>
</div>
</body>
</html>