<div th:fragment="addCourseFragment" xmlns:th="http://www.thymeleaf.org">

    <div class="modal fade" id="courseAdd" role="dialog">
        <div class="modal-dialog">

            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>

                </div>
                <div class="modal-body">

                    <legend>Dodaj</legend>

                    <form class="form-horizontal" action="#" th:action="@{/user/userProfile/addCourse}"
                          th:object="${course}" method="post">
                        <fieldset>

                            <div class="form-group">
                                <label class="col-md-6 control-label" for="courseName">Nazwa kursu</label>
                                <div class="col-md-6">

                                    <input id="courseName" path="courseName" name="courseName" type="text"
                                           placeholder="Nazwa kursu" class="form-control input-md" maxlength="200"
                                           th:value="${courseName}"/>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-md-6 control-label" for="organizer">Organizator</label>
                                <div class="col-md-6">
                                    <input id="organizer" path="organizer" name="organizer"
                                           type="text" placeholder="Organizator" maxlength="200"
                                           class="form-control input-md" th:value="${organizer}"
                                    />
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-md-6 control-label" >Miesiąc odbycia kursu</label>
                                <div class="col-md-6">
                                    <select th:field="*{courseMonth}" class="form-control">
                                        <option selected="selected" value="" class="font-weight-bold">Miesiąc</option>
                                        <option value="Styczeń">Styczeń</option>
                                        <option value="Luty">Luty</option>
                                        <option value="Marzec">Marzec</option>
                                        <option value="Kwiecień">Kwiecień</option>
                                        <option value="Maj">Maj</option>
                                        <option value="Czerwiec">Czerwiec</option>
                                        <option value="Lipiec">Lipiec</option>
                                        <option value="Sierpień">Sierpień</option>
                                        <option value="Wrzesień">Wrzesień</option>
                                        <option value="Październik">Październik</option>
                                        <option value="Listopad">Listopad</option>
                                        <option value="Grudzień">Grudzień</option>
                                    </select>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-md-6 control-label" for="courseYear">Rok odbycia kursu</label>
                                <div class="col-md-6">
                                    <input id="courseYear" path="courseYear" name="courseYear"
                                           type="number" placeholder="Rok odbycia kursu" maxlength="4"
                                           class="form-control input-md" th:value="${courseYear}"
                                    />
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-md-4 control-label" for="register"></label>
                                <div class="col-md-4">
                                    <button id="register" name="register" class="btn btn-primary">
                                        Dodaj
                                    </button>
                                </div>
                            </div>
                        </fieldset>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Anuluj</button>
                </div>
            </div>

        </div>
    </div>
</div>