<div th:fragment="editDeletOrganizationFragment" xmlns:th="http://www.thymeleaf.org">
    <button type="button"
            class="btn btn-warning" data-toggle="modal" data-target="#organizationEdit" th:attrappend="data-target=${organization.idOrganization}">
        <i class="far fa-edit"></i>
    </button>

    <div class="modal fade" id="organizationEdit" role="dialog" th:attrappend="id=${organization.idOrganization}">
        <div class="modal-dialog">

            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>

                </div>
                <div class="modal-body">

                    <legend>Edytuj</legend>

                    <form class="form-horizontal" action="#"
                          th:action="@{/user/userProfile/editOrganization}"
                          method="post">
                        <fieldset>

                            <div class="form-group">
                                <label class="col-md-6 control-label" for="organizationName">Nazwa organizacji</label>
                                <div class="col-md-12">

                                    <input id="idOrganization" path="idOrganization" name="idOrganization" type="hidden"
                                           placeholder="idOrganization" class="form-control input-md"
                                           th:value="${organization.idOrganization}"/>

                                    <input id="organizationName" path="organizationName" name="organizationName" type="text"
                                           placeholder="Nazwa organizacji" class="form-control input-md"
                                           th:value="${organization.organizationName}"/>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-md-6 control-label" for="location">Lokalizacja</label>
                                <div class="col-md-12">
                                    <input id="location" path="location" name="location"
                                           type="text" placeholder="Lokalizacja" maxlength="200"
                                           class="form-control input-md" th:value="${organization.location}"
                                    />
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-md-6 control-label">Miesiąc rozpoczęcia</label>
                                <div class="col-md-12">
                                    <select th:field="*{organization.fromMonth}" class="form-control">
                                        <option value="" class="font-weight-bold">Miesiąc</option>
                                        <option value="Styczeń">Styczeń</option>
                                        <option value="Luty">Luty</option>
                                        <option value="Marzec">Marzec</option>
                                        <option value="Kwiecień">Kwiecień</option>
                                        <option value="Maj">Maj</option>
                                        <option value="Czerwiec">Czerwiec</option>
                                        <option value="Lipiec">Lipiec</option>
                                        <option value="Sierpień">Sierpień</option>
                                        <option value="Wrzesień">Wrzesień</option>
                                        <option value="Październik">Październik</option>
                                        <option value="Listopad">Listopad</option>
                                        <option value="Grudzień">Grudzień</option>
                                    </select>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-md-6 control-label" for="fromYear">Rok rozpoczęcia</label>
                                <div class="col-md-12">
                                    <input id="fromYear" path="fromYear" name="fromYear"
                                           type="number" placeholder="Rok rozpoczęcia" maxlength="4"
                                           class="form-control input-md" th:value="${organization.fromYear}"
                                    />
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-md-6 control-label" >Miesiąc zakończeniau</label>
                                <div class="col-md-12">
                                    <select th:field="*{organization.toMonth}" class="form-control">
                                        <option value="" class="font-weight-bold">Miesiąc</option>
                                        <option value="Styczeń">Styczeń</option>
                                        <option value="Luty">Luty</option>
                                        <option value="Marzec">Marzec</option>
                                        <option value="Kwiecień">Kwiecień</option>
                                        <option value="Maj">Maj</option>
                                        <option value="Czerwiec">Czerwiec</option>
                                        <option value="Lipiec">Lipiec</option>
                                        <option value="Sierpień">Sierpień</option>
                                        <option value="Wrzesień">Wrzesień</option>
                                        <option value="Październik">Październik</option>
                                        <option value="Listopad">Listopad</option>
                                        <option value="Grudzień">Grudzień</option>
                                    </select>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-md-6 control-label" for="toYear">Rok zakończenia</label>
                                <div class="col-md-12">
                                    <input id="toYear" path="toYear" name="toYear"
                                           type="number" placeholder="Rok zakończenia" maxlength="4"
                                           class="form-control input-md" th:value="${organization.toYear}"
                                    />
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-md-6 control-label">Czy kontynuje?</label>
                                <div class="col-md-12">
                                    <select th:field="*{organization.continues}" class="form-control">
                                        <option value="">Nie</option>
                                        <option value="Tak">Tak</option>
                                    </select>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-md-6 control-label" for="description">Opis</label>
                                <div class="col-md-12">
                                    <input id="description" path="description" name="description"
                                           type="text" placeholder="Opis" maxlength="200"
                                           class="form-control input-md" th:value="${organization.description}"
                                    />
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-md-4 control-label" for="register"></label>
                                <div class="col-md-4">
                                    <button id="register" name="register" class="btn btn-primary">
                                        Zapisz
                                    </button>
                                </div>
                            </div>

                        </fieldset>
                    </form>

                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Anuluj</button>
                </div>


            </div>

        </div>
    </div>


    <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#organizationDelet" th:attrappend="data-target=${organization.idOrganization}">
        <i class="far fa-trash-alt"></i>
    </button>
    <div class="modal fade" id="organizationDelet" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true" th:attrappend="id=${organization.idOrganization}">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Usuń</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body bg-danger">
                    Czy chcesz usunąć wiersz?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success" data-dismiss="modal">Anuluj</button>
                    <a type="button" class="btn btn-danger" th:href="@{/user/userProfile/deleteOrganization(id=${organization.idOrganization})}">Usuń</a>
                </div>
            </div>
        </div>
    </div>
</div>