<div th:fragment="editDeletEducationFragment" xmlns:th="http://www.thymeleaf.org">
    <button type="button"
            class="btn btn-warning" data-toggle="modal" data-target="#educationEdit" th:attrappend="data-target=${education.idEducation}">
        <i class="far fa-edit"></i>
    </button>

    <div class="modal fade" id="educationEdit" role="dialog" th:attrappend="id=${education.idEducation}">
        <div class="modal-dialog">

            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>

                </div>
                <div class="modal-body">

                    <legend>Edytuj</legend>

                    <form class="form-horizontal" action="#" th:action="@{/user/userProfile/editEducation}"
                          method="post">
                        <fieldset>

                            <div class="form-group">
                                <label class="col-md-6 control-label" for="schoolName">Nazwa szkoły/uczelni</label>
                                <div class="col-md-6">

                                    <input id="idEducation" path="idEducation" name="idEducation" type="hidden"
                                           placeholder="idEducation" class="form-control input-md"
                                           th:value="${education.idEducation}"/>

                                    <input id="schoolName" path="schoolName" name="schoolName" type="text"
                                           placeholder="Nazwa szkoły/uczelni" class="form-control input-md"
                                           th:value="${education.schoolName}"/>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-md-6 control-label" for="specialization">Kierunek</label>
                                <div class="col-md-6">
                                    <input id="specialization" path="specialization" name="specialization"
                                           type="text" placeholder="Kierunek" maxlength="200"
                                           class="form-control input-md" th:value="${education.specialization}"
                                    />
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-md-6 control-label" >Poziom wykształcenia</label>
                                <div class="col-md-6">
                                    <select th:field="*{education.educationLevel}" class="form-control">
                                        <option value="" class="font-weight-bold">Poziom wykształcenia</option>
                                        <option value="Podstawowe">Podstawowe</option>
                                        <option value="Zawodowe">Zawodowe</option>
                                        <option value="Średnie">Średnie</option>
                                        <option value="Licencjat">Licencjat</option>
                                        <option value="Inżynier">Inżynier</option>
                                        <option value="Magister">Magister</option>
                                        <option value="Magister inżynier">Magister inżynier</option>
                                        <option value="Lekarz medycyny">Lekarz medycyny</option>
                                        <option value="Studia podyplomowe">Studia podyplomowe</option>
                                        <option value="Doktorat">Doktorat</option>
                                        <option value="Doktor hab.">Doktor hab.</option>
                                        <option value="Profesor">Profesor</option>
                                    </select>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-md-6 control-label" >Miesiąc rozpoczęcia</label>
                                <div class="col-md-6">
                                    <select th:field="*{education.fromMonth}" class="form-control">
                                        <option value="" class="font-weight-bold">Miesiąc</option>
                                        <option value="Styczeń">Styczeń</option>
                                        <option value="Luty">Luty</option>
                                        <option value="Marzec">Marzec</option>
                                        <option value="Kwiecień">Kwiecień</option>
                                        <option value="Maj">Maj</option>
                                        <option value="Czerwiec">Czerwiec</option>
                                        <option value="Lipiec">Lipiec</option>
                                        <option value="Sierpień">Sierpień</option>
                                        <option value="Wrzesień">Wrzesień</option>
                                        <option value="Październik">Październik</option>
                                        <option value="Listopad">Listopad</option>
                                        <option value="Grudzień">Grudzień</option>
                                    </select>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-md-6 control-label" for="fromYear">Rok rozpoczęcia</label>
                                <div class="col-md-6">
                                    <input id="fromYear" path="fromYear" name="fromYear"
                                           type="number" placeholder="Rok rozpoczęcia" maxlength="4"
                                           class="form-control input-md" th:value="${education.fromYear}"
                                    />
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-md-6 control-label">Miesiąc zakończeniau</label>
                                <div class="col-md-6">
                                    <select th:field="*{education.toMonth}" class="form-control">
                                        <option value="" class="font-weight-bold">Miesiąc</option>
                                        <option value="Styczeń">Styczeń</option>
                                        <option value="Luty">Luty</option>
                                        <option value="Marzec">Marzec</option>
                                        <option value="Kwiecień">Kwiecień</option>
                                        <option value="Maj">Maj</option>
                                        <option value="Czerwiec">Czerwiec</option>
                                        <option value="Lipiec">Lipiec</option>
                                        <option value="Sierpień">Sierpień</option>
                                        <option value="Wrzesień">Wrzesień</option>
                                        <option value="Październik">Październik</option>
                                        <option value="Listopad">Listopad</option>
                                        <option value="Grudzień">Grudzień</option>
                                    </select>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-md-6 control-label" for="toYear">Rok zakończenia</label>
                                <div class="col-md-6">
                                    <input id="toYear" path="toYear" name="toYear"
                                           type="number" placeholder="Rok zakończenia" maxlength="4"
                                           class="form-control input-md" th:value="${education.toYear}"
                                    />
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-md-6 control-label">Czy kontynuje?</label>
                                <div class="col-md-6">
                                    <select th:field="*{education.continues}" class="form-control">
                                        <option value="">Nie</option>
                                        <option value="Tak">Tak</option>
                                    </select>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-md-4 control-label" for="register"></label>
                                <div class="col-md-4">
                                    <button id="register" name="register" class="btn btn-primary">
                                        Zapisz
                                    </button>
                                </div>
                            </div>

                        </fieldset>
                    </form>

                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Anuluj</button>
                </div>


            </div>

        </div>
    </div>


    <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#educationDelet" th:attrappend="data-target=${education.idEducation}">
        <i class="far fa-trash-alt"></i>
    </button>
    <div class="modal fade" id="educationDelet" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true" th:attrappend="id=${education.idEducation}">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Usuń</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body bg-danger">
                    Czy chcesz usunąć wiersz z wykształceniem?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success" data-dismiss="modal">Anuluj</button>
                    <a type="button" class="btn btn-danger" th:href="@{/user/userProfile/deleteEducation(id=${education.idEducation})}">Usuń</a>
                </div>
            </div>
        </div>
    </div>
</div>