<div th:fragment="editDeletSkillFragment" xmlns:th="http://www.thymeleaf.org">
    <button type="button"
            class="btn btn-warning" data-toggle="modal" data-target="#skillEdit" th:attrappend="data-target=${skill.idSkill}">
        <i class="far fa-edit"></i>
    </button>

    <div class="modal fade" id="skillEdit" role="dialog" th:attrappend="id=${skill.idSkill}">
        <div class="modal-dialog">

            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>

                </div>
                <div class="modal-body">

                    <legend>Edytuj</legend>

                    <form class="form-horizontal" action="#" th:action="@{/user/userProfile/editSkill}"
                          method="post">
                        <fieldset>

                            <div class="form-group">
                                <label class="col-md-6 control-label" for="skillName">Wpisz swoje umiejętności np. Obsługa programów itp.</label>
                                <div class="col-md-6">

                                    <input id="idSkill" path="idSkill" name="idSkill" type="hidden"
                                           placeholder="idSkill" class="form-control input-md"
                                           th:value="${skill.idSkill}"/>

                                    <input id="skillName" path="skillName" name="skillName" type="text"
                                           placeholder="Umiejętności" class="form-control input-md"
                                           th:value="${skill.skillName}"/>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-md-4 control-label" for="register"></label>
                                <div class="col-md-4">
                                    <button id="register" name="register" class="btn btn-primary">
                                        Zapisz
                                    </button>
                                </div>
                            </div>

                        </fieldset>
                    </form>

                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Anuluj</button>
                </div>


            </div>

        </div>
    </div>


    <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#skillDelet" th:attrappend="data-target=${skill.idSkill}">
        <i class="far fa-trash-alt"></i>
    </button>
    <div class="modal fade" id="skillDelet" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true" th:attrappend="id=${skill.idSkill}">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Usuń</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body bg-danger">
                    Czy chcesz usunąć wiersz?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success" data-dismiss="modal">Anuluj</button>
                    <a type="button" class="btn btn-danger" th:href="@{/user/userProfile/deleteSkill(id=${skill.idSkill})}">Usuń</a>
                </div>
            </div>
        </div>
    </div>
</div>