<div th:fragment="editDeletWebLinkFragment" xmlns:th="http://www.thymeleaf.org">
    <a type="button"
            class="btn btn-warning" data-toggle="modal" data-target="#webLinkEdit" th:attrappend="data-target=${webLink.idWebLink}">
        <i class="far fa-edit"></i>
    </a>

    <div class="modal fade" id="webLinkEdit" role="dialog" th:attrappend="id=${webLink.idWebLink}">
        <div class="modal-dialog">

            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>

                </div>
                <div class="modal-body">

                    <legend>Edytuj</legend>

                    <form class="form-horizontal" action="#"
                          th:action="@{/user/userProfile/editWebLink}"
                          method="post">
                        <fieldset>

                            <div class="form-group">
                                <label class="col-md-6 control-label" for="urlAddress">Adres url</label>
                                <div class="col-md-6">

                                    <input id="idWebLink" path="idWebLink" name="idWebLink" type="hidden"
                                           placeholder="idWebLink" class="form-control input-md"
                                           th:value="${webLink.idWebLink}"/>

                                    <input id="urlAddress" path="urlAddress" name="urlAddress" type="text"
                                           placeholder="Adres URL" class="form-control input-md"
                                           th:value="${webLink.urlAddress}"/>
                                </div>
                            </div>


                            <div class="form-group">
                                <label class="col-md-6 control-label" for="urlType">Rodzaj</label>
                                <div class="col-md-6">
                                    <select th:field="*{webLink.urlType}" class="form-control" id="urlType">
                                        <option value="" class="font-weight-bold">Rodaj linku</option>
                                        <option value="Link do profilu społecznościowego">Link do profilu społecznościowego</option>
                                        <option value="Projekt">Projekt</option>
                                        <option value="Portfolio">Portfolio</option>
                                        <option value="Strona osobista">Strona osobista</option>
                                        <option value="Strona firmowa">Strona firmowa</option>
                                        <option value="Inne">Inne</option>
                                    </select>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-md-4 control-label" for="register"></label>
                                <div class="col-md-4">
                                    <button id="register" name="register" class="btn btn-primary">
                                        Zapisz
                                    </button>
                                </div>
                            </div>

                        </fieldset>
                    </form>

                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Anuluj</button>
                </div>


            </div>

        </div>
    </div>


    <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#deleteWebLink" th:attrappend="data-target=${webLink.idWebLink}">
        <i class="far fa-trash-alt"></i>
    </button>
    <div class="modal fade" id="deleteWebLink" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true" th:attrappend="id=${webLink.idWebLink}">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Usuń</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body bg-danger">
                    Czy chcesz usunąć link do strony?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success" data-dismiss="modal">Anuluj</button>
                    <a type="button" class="btn btn-danger" th:href="@{/user/userProfile/deleteWebLink(id=${webLink.idWebLink})}">Usuń</a>
                </div>
            </div>
        </div>
    </div>
</div>