<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<meta charset="UTF-8" name="viewport" content="width = device-width , initial-scale=1.0"/>
<link th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.min.css}" rel="stylesheet" media="screen"/>
<link th:href="@{/webjars/font-awesome/5.11.2/css/all.css}" rel="stylesheet"/>
<link th:href="@{/static/css/profileCSS.css}" rel="stylesheet"/>
<link th:href="@{/static/css/homeHeaderCSS.css}" rel="stylesheet"/>
<script th:src="@{/webjars/jquery/3.4.1/jquery.min.js} " type="text/javascript"></script>
<script th:src="@{/webjars/popper/1.15.0/umd/popper.min.js} " type="text/javascript"></script>
<script th:src="@{/webjars/bootstrap/4.3.1/js/bootstrap.min.js} " type="text/javascript"></script>
</head>
<body>
<div th:replace="fragments/adminHeader :: headerAdmin"></div>

<div class="container my-5">
    <div class="panel-body">
        <div class="row">
            <div class="col-md-5">
                <form  action="#" method="post" enctype="multipart/form-data" th:object="${user}"
                       th:action="@{'/admin/' + ${user.idUser} + '/uploadImage'}">
                    <label class="form-control-file">Wybierz zdjęcie</label>
                    <input id="imagefile" name="imagefile" type="file" class="file">
                    <button type="submit" class="btn btn-primary my-2">Dodaj</button>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>