<div th:fragment="select_option_positionLevel" xmlns:th="http://www.thymeleaf.org">
    <select name="positionLevel" class="form-control mt-3 mr-2">
        <option selected="selected" value="">Poziom stanowiska</option>
        <option value="Praktykant/Stazysta">Praktykant/Stażysta</option>
        <option value="Asystent">Asystent</option>
        <option value="Specjalista">Specjalista</option>
        <option value="Kierownik">Kierownik</option>
        <option value="Dyrektor/Prezes">Dyrektor/Prezes</option>
    </select>
</div>