<div th:fragment="select_option_category" xmlns:th="http://www.thymeleaf.org">
    <select th:field= "*{category}" class="form-control ">
        <option selected="selected" value="">Kategoria</option>
        <optgroup label="Administracja biurowa">
            <option value="Sekretariat / Recepcja">Sekretariat / Recepcja</option>
            <option value="Stanowisko asystenckie">Stanowisko asystenckie</option>
        </optgroup>
        <optgroup label="Budownictwo">
            <option value="Architektura / Projektowanie">Architektura / Projektowanie</option>
            <option value="Energetyczne">Energetyczne</option>
            <option value="Infrastrukturalne">Infrastrukturalne</option>
            <option value="Mieszkaniowe/Przemysłowe">Mieszkaniowe/Przemysłowe</option>
        </optgroup>
        <optgroup label="Edukacja / Szkolenia">
            <option value="Nauka języków obcych">Nauka języków obcych</option>
            <option value="Szkolenia">Szkolenia</option>
            <option value="Szkolnictwo">Szkolnictwo</option>
        </optgroup>
        <optgroup label="Finanse / Ekonomia">
            <option value="Doradztwo podatkowe">Doradztwo podatkowe</option>
            <option value="Ksiegowosc">Księgowość</option>
            <option value="Analiza">Analiza</option>
        </optgroup>
        <optgroup label="Hotelarstwo / Gastronomia / Turystyka">
            <option value="Hotelarstwo">DHotelarstwo</option>
            <option value="Katering / Restauracja">Katering / Restauracja</option>
            <option value="Turystyka">Turystyka</option>
        </optgroup>
        <optgroup label="Hotelarstwo / Gastronomia / Turystyka">
            <option value="Hotelarstwo">Hotelarstwo</option>
            <option value="Katering / Restauracja">Katering / Restauracja</option>
            <option value="Turystyka">Turystyka</option>
        </optgroup>
        <optgroup label="Inżynieria">
            <option value="Automatyka">Automatyka</option>
            <option value="Elektronika / Elektryka">Elektronika / Elektryka</option>
            <option value="Motoryzacja">Motoryzacja</option>
            <option value="Lotnictwo">Lotnictwo</option>
            <option value="Konstrukcja / Technologie">Konstrukcja / Technologie</option>
        </optgroup>
        <optgroup label="IT">
            <option value="Analiza biznesowa">Analiza biznesowa</option>
            <option value="Administracja bazami danych">Administracja bazami danych</option>
            <option value="Administracja sieciami">Administracja sieciami</option>
            <option value="Programowanie">Programowanie</option>
            <option value="Testowanie">Testowanie</option>
            <option value="Wsparcie techniczne / Helpdesk">Wsparcie techniczne / Helpdesk</option>
            <option value="Zarządzanie projektem">Zarządzanie projektem</option>
        </optgroup>
        <optgroup label="Praca fizyczna">
            <option value="Pracownik budowy">Pracownik budowy</option>
            <option value="Pracownik magazynu">Pracownik magazynu</option>
            <option value="Pracownik ochrony">Pracownik ochrony</option>
            <option value="Kurier / dostawca">Kurier / dostawca</option>
            <option value="Mechanicy /Blacharze">Mechanicy /Blacharze</option>
            <option value="Monterzy / Serwisanci / Elektrycy">WMonterzy / Serwisanci / Elektrycy</option>
            <option value="Kasjerzy">Kasjerzy</option>
            <option value="Pracownicy produkcji">Pracownicy produkcji</option>
            <option value="Fryzjer / Kosmetyczka">Fryzjer / Kosmetyczka</option>
            <option value="Utrzymanie czystosci">Utrzymanie czystości</option>
        </optgroup>
        <optgroup label="Prawo">
            <option value="Prawnik">Prawnik</option>
            <option value="Windykacja">Windykacja</option>
            <option value="Wsparcie uslug prawnych">Wsparcie usług prawnych</option>
        </optgroup>
        <optgroup label="Transport/Spedycja">
            <option value="Spedytorzy">Spedytorzy</option>
            <option value="Kierowcy">Kierowcy</option>
        </optgroup>
        <optgroup label="Zdrowie/Uroda">
            <option value="Apteka">Apteka</option>
            <option value="Kosmetyka">Kosmetyka</option>
            <option value="Lekarze / Opieka medyczna">Lekarze / Opieka medyczna</option>
        </optgroup>
    </select>
</div>