<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8" name="viewport" content="width = device-width , initial-scale=1.0"/>
    <link th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.min.css}" rel="stylesheet" media="screen"/>
    <link th:href="@{/webjars/font-awesome/5.11.2/css/all.css}" rel="stylesheet"/>
    <link th:href="@{/static/css/homeHeaderCSS.css}" rel="stylesheet"/>
    <link th:href="@{/static/css/profileCSS.css}" rel="stylesheet"/>
    <script th:src="@{/webjars/jquery/3.4.1/jquery.min.js} " type="text/javascript"></script>
    <script th:src="@{/webjars/popper/1.15.0/umd/popper.min.js} " type="text/javascript"></script>
    <script th:src="@{/webjars/bootstrap/4.3.1/js/bootstrap.min.js} " type="text/javascript"></script>

</head>
<body>
<div th:replace="fragments/loggedInHeader :: headerLoggedIn"></div>
<div class="container pt-4">
    <div class="row">
        <div class="col-md-12 text-white bg-secondary">
            <div class="row border-secondary" th:each="user : ${users}">
                <div class="col-md-9 bg-secondary">
                <b >Imię: </b>
                <th th:text="${user.name}"></th> </br>
                <b>Nazwisko: </b>
                <th th:text="${user.lastName}"></th></br>
                <b>Email: </b>
                <th th:text="${user.email}"></th></br>
                <a th:href="@{/user/userProfile/editProfile/{idUser}(idUser=${user.idUser})}"
                   class="btn btn-warning">
                    <i class="fas fa-user-edit"></i>
                </a>
                </div>
                <div class="col-md-3 bg-secondary">
                <img src="../../static/img/stockImage.jpg" th:src="@{'/user/' + ${user.idUser} + '/displayImage'}" width="200" height="200" class="mt-3">
                    <a class="btn btn-primary mt-2" href="#"
                       th:href="@{'/user/' + ${user.idUser} + '/addImage'}" role="button">
                        Zmień zdjęcie</a>
                </div>
            </div>
        </div>

        <div class="col-md-12 webLinkLoop">
            <div class="row">
                <div class="col-md-12" style="background-color: #99CB00">
                    <p class="font-weight-bold mt-2"> <i class="fas fa-globe"></i> Linki do stron
                        <button type="button"
                                class="btn btn float-right" data-toggle="modal" data-target="#webLinkAdd">
                           Dodaj <i class="fas fa-plus"></i>
                        </button></p>
                    <div th:replace="fragments/modal/AddWebLink :: addWebLinkFragment"></div>
                </div>
            </div>
            <div class="row border border-white " th:each="webLink : ${webLinks}">
                <div class="col-10 border-bottom border-secondary">
                    <i class="far fa-check-circle"></i>
                    <b><th th:text="${webLink.urlAddress}"> : </th></b>
                    <th th:text="${webLink.urlType}"></th>
                </div>
                <div class="col-2 border-bottom border-secondary">
                    <div th:replace="fragments/modal/EditDeletWebLink :: editDeletWebLinkFragment"></div>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="row ">
                <div class="col-md-12" style="background-color: #99CB00">
                    <p class="font-weight-bold mt-2"> <i class="fas fa-certificate"></i> Kursy, szkolenia, certyfikaty
                        <button type="button"
                                class="btn btn float-right" data-toggle="modal" data-target="#courseAdd">
                          Dodaj <i class="fas fa-plus"></i>
                        </button>
                    </p>
                    <div th:replace="fragments/modal/AddCourse :: addCourseFragment"></div>
                </div>
            </div>
                    <div class="row border border-white" th:each="course : ${courses}">
                         <div class="col-10 border-bottom border-secondary">
                             <i class="far fa-check-circle"></i>
                             <b><th th:text="${course.courseName}"></th></b>
                             <b class="font-weight-bold"> Organizator:</b>
                             <th th:text="${course.organizer}"></th>
                             <b class="font-weight-bold"> Czas odbycia kursu:</b>
                             <th th:text="${course.courseMonth}"></th>
                             <th th:text="${course.courseYear}"></th> </div>
                        <div class="col-2 border-bottom border-secondary">
                            <div th:replace="fragments/modal/EditDeletCourse :: editDeletCourseFragment"></div>
                        </div>
                        </div>
        </div>
        <div class="col-md-12">
            <div class="row ">
                <div class="col-md-12" style="background-color: #99CB00">
                    <p class="font-weight-bold mt-2"> <i class="fas fa-user-graduate"></i> Wykształcenie
                        <button type="button"
                                class="btn btn float-right" data-toggle="modal" data-target="#educationAdd">
                           Dodaj <i class="fas fa-plus"></i>
                        </button>
                    </p>
                    <div th:replace="fragments/modal/AddEducation :: addEducationFragment"></div>
                </div>
            </div>
            <div class="row border border-white" th:each="education : ${educations}">
                <div class="col-10 border-bottom border-secondary">
                    <i class="far fa-check-circle"></i>
                    <b><th th:text="${education.schoolName}"></th></b>
                    <th th:text="${education.specialization}"></th> </br>
                    <th th:text="${education.educationLevel}"></th> </br>
                    <b class="font-weight-bold"> Rozpoczęcie:</b>
                    <th th:text="${education.fromMonth}"></th>
                    <th th:text="${education.fromYear}"></th>
                    <b class="font-weight-bold"> Zakończenie:</b>
                    <th th:text="${education.toMonth}"></th>
                    <th th:text="${education.toYear}"></th>
                    <th th:text="${education.continues}"></th>
                </div>
                <div class="col-2 border-bottom border-secondary">
                    <div th:replace="fragments/modal/EditDeletEducation :: editDeletEducationFragment"></div>
                </div>
            </div>
        </div>
        <div class="col-md-12" >
            <div class="row">
                <div class="col-md-12" style="background-color: #99CB00">
                    <p class="font-weight-bold mt-2"> <i class="fas fa-briefcase"></i> Doświadczenie zawodowe
                        <button type="button"
                                class="btn btn float-right" data-toggle="modal" data-target="#jobExperienceAdd">
                           Dodaj <i class="fas fa-plus"></i>
                        </button>
                    </p>
                    <div th:replace="fragments/modal/AddJobExperience :: addJobExperienceFragment"></div>
                </div>
            </div>
            <div class="row border border-white" th:each="jobExperience : ${jobExps}">
                <div class="col-10 border-bottom border-secondary">
                    <i class="far fa-check-circle"></i>
                    <b><th th:text="${jobExperience.companyName}"></th></b>
                    <th th:text="${jobExperience.position}"></th> </br>
                    <th th:text="${jobExperience.location}"></th> </br>
                    <b class="font-weight-bold"> Rozpoczęcie:</b>
                    <th th:text="${jobExperience.fromMonth}"></th>
                    <th th:text="${jobExperience.fromYear}"></th>
                    <b class="font-weight-bold"> Zakończenie:</b>
                    <th th:text="${jobExperience.toMonth}"></th>
                    <th th:text="${jobExperience.toYear}"></th>
                    <th th:text="${jobExperience.continues}"></th> </br>
                    <th th:text="${jobExperience.description}">
                </div>
                <div class="col-2 border-bottom border-secondary">
                    <div th:replace="fragments/modal/EditDeletJobExperience :: editDeletJobExperienceFragment"></div>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-12" style="background-color: #99CB00">
                    <p class="font-weight-bold mt-3"> <i class="fas fa-language"></i> Języki
                        <button type="button"
                                class="btn btn float-right" data-toggle="modal" data-target="#languageAdd">
                           Dodaj <i class="fas fa-plus"></i>
                        </button>
                    <div th:replace="fragments/modal/AddLanguage :: addLanguageFragment"></div>
                    </p>
                </div>
            </div>
            <div class="row border border-white" th:each="language : ${languages}">
                <div class="col-10 border-bottom border-secondary">
                    <i class="far fa-check-circle"></i>
                    <b><th th:text="${language.languageNmae}"></th></b></br>
                    <th th:text="${language.languageLevel}"></th>
                </div>
                <div class="col-2 border-bottom border-secondary">
                    <div th:replace="fragments/modal/EditDeletLanguage :: editDeletLanguageFragment"></div>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-12" style="background-color: #99CB00">
                    <p class="font-weight-bold mt-2"> <i class="fas fa-hand-holding-heart"></i> Organizacje, stowarzyszenia
                        <button type="button"
                                class="btn btn float-right" data-toggle="modal" data-target="#organizationAdd">
                           Dodaj <i class="fas fa-plus"></i>
                        </button>
                        <div th:replace="fragments/modal/AddOrganization :: addOrganizationFragment"></div>
                        </p>
                </div>
            </div>
            <div class="row border border-white" th:each="organization : ${organizations}">
                <div class="col-10 border-bottom border-secondary">
                    <i class="far fa-check-circle"></i>
                    <b><th th:text="${organization.organizationName}"></th></b>
                    <th th:text="${organization.location}"></th> </br>
                    <b class="font-weight-bold"> Rozpoczęcie:</b>
                    <th th:text="${organization.fromMonth}"></th>
                    <th th:text="${organization.fromYear}"></th>
                    <b class="font-weight-bold"> Zakończenie:</b>
                    <th th:text="${organization.toMonth}"></th>
                    <th th:text="${organization.toYear}"></th>
                    <th th:text="${organization.continues}"></th> </br>
                    <th th:text="${organization.description}">
                </div>
                <div class="col-2 border-bottom border-secondary">
                    <div th:replace="fragments/modal/EditDeletOrganization :: editDeletOrganizationFragment"></div>
                </div>
            </div>
        </div>
        <div class="col-md-12" >
            <div class="row">
                <div class="col-md-12" style="background-color: #99CB00">
                    <p class="font-weight-bold mt-2"> <i class="fas fa-tools"></i> Umiejętności
                        <button type="button"
                                class="btn btn float-right" data-toggle="modal" data-target="#skillAdd">
                           Dodaj <i class="fas fa-plus"></i>
                        </button>
                    <div th:replace="fragments/modal/AddSkill :: addSkillFragment"></div>
                    </p>
                </div>
            </div>
            <div class="row border border-white" th:each="skill : ${skills}">
                <div class="col-10 border-bottom border-secondary">
                    <i class="far fa-check-circle"></i>
                    <th th:text="${skill.skillName}"></th>
                </div>
                <div class="col-2 border-bottom border-secondary">
                    <div th:replace="fragments/modal/EditDeletSkill :: editDeletSkillFragment"></div>
                </div>
            </div>
        </div>

    </div>

</div>
</body>
</html>