<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8" name="viewport" content="width = device-width , initial-scale=1.0"/>
    <link th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.min.css}" rel="stylesheet" media="screen"/>
    <link th:href="@{/webjars/font-awesome/5.11.2/css/all.css}" rel="stylesheet"/>
    <link th:href="@{/static/css/homeHeaderCSS.css}" rel="stylesheet"/>
    <link th:href="@{/static/css/profileCSS.css}" rel="stylesheet"/>
    <script th:src="@{/webjars/jquery/3.4.1/jquery.min.js} " type="text/javascript"></script>
    <script th:src="@{/webjars/popper/1.16.0/umd/popper.min.js} " type="text/javascript"></script>
    <script th:src="@{/webjars/bootstrap/4.3.1/js/bootstrap.min.js} " type="text/javascript"></script>
    <script src="../static/js/modalWindow.js" th:src="@{/static/js/modalWindow.js} " type="text/javascript"></script>

</head>
<body>
<div th:replace="fragments/loggedInHeader :: headerLoggedIn"></div>
<div class="container pt-4">
    <div class="row">
        <div class="col-md-12 text-white bg-secondary">
            <div th:each="user : ${users}">
                <b >Imię: </b>
                <th th:text="${user.name}"></th> </br>
                <b>Nazwisko: </b>
                <th th:text="${user.lastName}"></th></br>
                <b>Email: </b>
                <th th:text="${user.email}"></th></br>
            </div>
        </div>

        <div class="col-md-12 webLinkLoop" th:switch="${webLinks}">
            <div class="row">
                <div class="col-md-12" style="background-color: #99CB00">
                    <p class="font-weight-bold mt-2"> <i class="fas fa-globe"></i> Linki do stron
                        <button type="button"
                                class="btn btn-primary" data-toggle="modal" data-target="#webLinkAdd">
                            <i class="fas fa-plus"></i></a></p>
                        </button>

                    <div class="modal fade" id="webLinkAdd" role="dialog" >
                        <div class="modal-dialog">

                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>

                                </div>
                                <div class="modal-body">

                                    <legend>Edytuj</legend>

                                    <form class="form-horizontal" action="#" th:action="@{/user/userProfile/addWebLink}"
                                          th:object="${webLink}" method="post">
                                        <fieldset>

                                            <div class="form-group">
                                                <label class="col-md-6 control-label" for="urlAddress">Adres url</label>
                                                <div class="col-md-6">

                                                    <input id="urlAddress" path="urlAddress" name="urlAddress" type="text"
                                                           placeholder="Adres URL" class="form-control input-md"
                                                           th:value="${urlAddress}"/>
                                                </div>
                                            </div>


                                            <div class="form-group">
                                                <label class="col-md-6 control-label" for="urlType">Rodzaj</label>
                                                <div class="col-md-6">
                                                    <input id="urlType" path="urlType" name="urlType"
                                                           type="text" placeholder="urlType"
                                                           class="form-control input-md" th:value="${urlType}"
                                                    />
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <label class="col-md-4 control-label" for="register"></label>
                                                <div class="col-md-4">
                                                    <button id="register" name="register" class="btn btn-primary">
                                                        Dodaj
                                                    </button>
                                                </div>
                                            </div>

                                        </fieldset>
                                    </form>

                                </div>

                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Anuluj</button>
                                </div>


                            </div>

                        </div>
                    </div>
                    </p>
                </div>
            </div>
            <div class="row border border-white " th:each="webLink : ${webLinks}">
                <div class="col-10 border-bottom border-secondary">
                    <i class="far fa-check-circle"></i>
                    <b><th th:text="${webLink.urlAddress}"> : </th></b>
                    <th th:text="${webLink.urlType}"></th>
                </div>
                <div class="col-2 border-bottom border-secondary">
                    <div th:replace="fragments/modal/EditDeletWebLink :: editDeletWebLinkFragment"></div>
                </div>
            </div>
        </div>
        <div class="col-md-12" th:switch="${courses}">
            <div class="row ">
                <div class="col-md-12" style="background-color: #99CB00">
                    <p class="font-weight-bold mt-2"> <i class="fas fa-certificate"></i> Kursy, szkolenia, certyfikaty
                    <a href="/edit" class="btn btn-primary float-right">
                        <i class="fas fa-plus"></i></a></p>
                </div>
            </div>
                    <div class="row border border-white" th:each="course : ${courses}">
                         <div class="col-10 border-bottom border-secondary">
                             <i class="far fa-check-circle"></i>
                             <b><th th:text="${course.courseName}"></th></b>
                             <b class="font-weight-bold"> Organizator:</b>
                             <th th:text="${course.organizer}"></th>
                             <b class="font-weight-bold"> Czas odbycia kursu:</b>
                             <th th:text="${course.courseMonth}"></th>
                             <th th:text="${course.courseYear}"></th> </div>
                        <div class="col-2 border-bottom border-secondary">
                            <div th:replace="fragments/modal/EditDeletCourse :: editDeletCourseFragment"></div>
                        </div>
                        </div>
        </div>
        <div class="col-md-12" th:switch="${educations}">
            <div class="row ">
                <div class="col-md-12" style="background-color: #99CB00">
                    <p class="font-weight-bold mt-2"> <i class="fas fa-user-graduate"></i> Wykształcenie
                        <a href="/edit" class="btn btn-primary float-right">
                            <i class="fas fa-plus"></i></a></p>
                </div>
            </div>
            <div class="row border border-white" th:each="education : ${educations}">
                <div class="col-10 border-bottom border-secondary">
                    <i class="far fa-check-circle"></i>
                    <b><th th:text="${education.schoolName}"></th></b>
                    <th th:text="${education.specialization}"></th> </br>
                    <th th:text="${education.educationLevel}"></th> </br>
                    <b class="font-weight-bold"> Rozpoczęcie:</b>
                    <th th:text="${education.fromMonth}"></th>
                    <th th:text="${education.fromYear}"></th>
                    <b class="font-weight-bold"> Zakończenie:</b>
                    <th th:text="${education.toMonth}"></th>
                    <th th:text="${education.toYear}"></th>
                    <th th:text="${education.continues}"></th>
                </div>
                <div class="col-2 border-bottom border-secondary">
                    <div th:replace="fragments/modal/EditDeletEducation :: editDeletEducationFragment"></div>
                </div>
            </div>
        </div>
        <div class="col-md-12" th:switch="${jobExps}">
            <div class="row">
                <div class="col-md-12" style="background-color: #99CB00">
                    <p class="font-weight-bold mt-2"> <i class="fas fa-briefcase"></i> Doświadczenie zawodowe
                        <a href="/edit" class="btn btn-primary float-right">
                            <i class="fas fa-plus"></i></a></p>
                </div>
            </div>
            <div class="row border border-white" th:each="jobExperience : ${jobExps}">
                <div class="col-10 border-bottom border-secondary">
                    <i class="far fa-check-circle"></i>
                    <b><th th:text="${jobExperience.companyName}"></th></b>
                    <th th:text="${jobExperience.position}"></th> </br>
                    <th th:text="${jobExperience.location}"></th> </br>
                    <b class="font-weight-bold"> Rozpoczęcie:</b>
                    <th th:text="${jobExperience.fromMonth}"></th>
                    <th th:text="${jobExperience.fromYear}"></th>
                    <b class="font-weight-bold"> Zakończenie:</b>
                    <th th:text="${jobExperience.toMonth}"></th>
                    <th th:text="${jobExperience.toYear}"></th>
                    <th th:text="${jobExperience.continues}"></th> </br>
                    <th th:text="${jobExperience.description}">
                </div>
                <div class="col-2 border-bottom border-secondary">
                    <div th:replace="fragments/modal/EditDeletJobExperience :: editDeletJobExperienceFragment"></div>
                </div>
            </div>
        </div>
        <div class="col-md-12" th:switch="${languages}">
            <div class="row">
                <div class="col-md-12" style="background-color: #99CB00">
                    <p class="font-weight-bold mt-3"> <i class="fas fa-language"></i> Języki
                        <a href="/edit" class="btn btn-primary float-right">
                            <i class="fas fa-plus"></i></a></p>
                </div>
            </div>
            <div class="row border border-white" th:each="language : ${languages}">
                <div class="col-10 border-bottom border-secondary">
                    <i class="far fa-check-circle"></i>
                    <b><th th:text="${language.languageNmae}"></th></b></br>
                    <th th:text="${language.languageLevel}"></th>
                </div>
                <div class="col-2 border-bottom border-secondary">
                    <div th:replace="fragments/modal/EditDeletLanguage :: editDeletLanguageFragment"></div>
                </div>
            </div>
        </div>
        <div class="col-md-12" th:switch="${organizations}">
            <div class="row">
                <div class="col-md-12" style="background-color: #99CB00">
                    <p class="font-weight-bold mt-2"> <i class="fas fa-hand-holding-heart"></i> Organizacje, stowarzyszenia
                        <a href="/edit" class="btn btn-primary float-right">
                            <i class="fas fa-plus"></i></a></p>
                </div>
            </div>
            <div class="row border border-white" th:each="organization : ${organizations}">
                <div class="col-10 border-bottom border-secondary">
                    <i class="far fa-check-circle"></i>
                    <b><th th:text="${organization.organizationName}"></th></b>
                    <th th:text="${organization.location}"></th> </br>
                    <b class="font-weight-bold"> Rozpoczęcie:</b>
                    <th th:text="${organization.fromMonth}"></th>
                    <th th:text="${organization.fromYear}"></th>
                    <b class="font-weight-bold"> Zakończenie:</b>
                    <th th:text="${organization.toMonth}"></th>
                    <th th:text="${organization.toYear}"></th>
                    <th th:text="${organization.continues}"></th> </br>
                    <th th:text="${organization.description}">
                </div>
                <div class="col-2 border-bottom border-secondary">
                    <div th:replace="fragments/modal/EditDeletOrganization :: editDeletOrganizationFragment"></div>
                </div>
            </div>
        </div>
        <div class="col-md-12" th:switch="${skills}">
            <div class="row">
                <div class="col-md-12" style="background-color: #99CB00">
                    <p class="font-weight-bold mt-2"> <i class="fas fa-tools"></i> Umiejętności
                        <a href="/edit" class="btn btn-primary float-right">
                            <i class="fas fa-plus"></i></a></p>
                </div>
            </div>
            <div class="row border border-white" th:each="skill : ${skills}">
                <div class="col-10 border-bottom border-secondary">
                    <i class="far fa-check-circle"></i>
                    <th th:text="${skill.skillName}"></th>
                </div>
                <div class="col-2 border-bottom border-secondary">
                    <div th:replace="fragments/modal/EditDeletSkill :: editDeletSkillFragment"></div>
                </div>
            </div>
        </div>

    </div>

</div>
</body>
</html>