<div th:fragment="headerAdmin" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <div class="menu-bar">
        <nav class=" navbar navbar-expand-lg navbar-light">
            <a class="navbar-brand" href="/admin/adminHome">E-Praca <i class="fas fa-briefcase"></i></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/admin/calculator/0">Kalkulator wynagrodzeń</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/admin/jobOffers">Oferty pracy</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/admin/usersProfiles">Profile użytkowników</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/admin/employersList">Profile pracodawców</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/admin/registerEmployer">Tworzenie konta dla pracodawcy</a>
                    </li>
                </ul>
                <ul class="navbar-nav ml-auto nav-flex-icons">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown"
                           aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-user"> <span sec:authentication="principal.username"> </span></i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right dropdown-default"
                             aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item text-danger" sec:authorize="isAuthenticated()" th:href="@{/logout}">Wyloguj</a>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</div>