<div th:fragment="header" xmlns:th="http://www.thymeleaf.org">
    <section id="mainHeader">
        <div class="menu-bar">
            <nav class="navbar navbar-expand-lg navbar-light ">
                <a class="navbar-brand" href="/">E-Pośredniak <i class="fas fa-briefcase"></i></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
                        aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavDropdown">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="/all/calculator">Kalkulator wynagrodzeń</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/all/jobOffers">Oferty pracy</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/all/employersList">Profile pracodawców</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Załóż konto
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="/register">Jako zwykły użytkownik</a>
                                <a class="dropdown-item" href="/registerEmployer">Jako pracodawca</a>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/login">Zaloguj się</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </section>
</div>