body {
}
*{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

.row {
    border-width: 5px;
    border-style: solid;
    border-color: #99CB00;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0 2px 70px 0 rgba(110,130,208, .18);
    margin-bottom: 20px;
}