body {
    background-color: #e6e6e6;
}
*{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

.row {
    border-width: 5px;
    border-style: solid;
    border-color: #99CB00;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0 2px 70px 0 rgba(110,130,208, .18);
    margin-bottom: 20px;
}

.select2-container .select2-selection--single{
    height:34px !important;
}
.select2-container--default .select2-selection--single{
    border: 1px solid #ccc !important;
    border-radius: 0px !important;
}