<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <meta charset="UTF-8" name="viewport" content="width = device-width , initial-scale=1.0"/>
    <link th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.min.css}" rel="stylesheet" media="screen"/>
    <link th:href="@{/webjars/font-awesome/5.11.2/css/all.css}" rel="stylesheet"/>
    <link th:href="@{/static/css/mainCSS.css}" rel="stylesheet"/>
    <link th:href="@{/static/css/homeHeaderCSS.css}" rel="stylesheet"/>
    <script th:src="@{/webjars/jquery/3.4.1/jquery.min.js} " type="text/javascript"></script>
    <script th:src="@{/webjars/popper/1.15.0/umd/popper.min.js} " type="text/javascript"></script>
    <script th:src="@{/webjars/bootstrap/4.3.1/js/bootstrap.min.js} " type="text/javascript"></script>

<body>
<div th:replace="fragments/homeHeader.html :: header"></div>
<div class="banner text-center">
    <h1>Witaj na stronie biura pośrednictwa pracy</h1>
</div>
<div class="more text-center">
    <h2>Więcej o stronie  <i class="arrow down"></i> </h2>
</div>
<section idJobOffer="about">
    <div class="container">
    <div class="row">
        <div class="col-sm-9">
            <h3><b>Znajdź pracę lub pracownika</b></h3>
            <p>Spośród wielu ofert możesz znaleźć nie tylko pracę ale też pracownika, którzy zamieszczają swoje oferty
            na stronie, wystarczy, że wyślesz im swoją ofertę pracy.</p>
            <button type="button" class="btn btn-primary" href="#">Oferty pracy</button>
            <button type="button" class="btn btn-primary" href="#">Oferty pracowników</button>
        </div>
        <div class="col-sm-3">
            <img th:src="@{/static/img/offersImg.jpg}" style="width: 200px; height: 125px">
        </div>
    </div>
        <div class="row">
            <div class="col-sm-9">
                <h3><b>Kalkulator wynagrodzeń</b></h3>
                <p>Kalkulator umożliwia wyliczenie kwoty netto lub brutto wynagrodzenia miesięcznego dla różnego rodzaju umów o pracę.
                 Rozwiązanie umożliwia także wyliczenie składek ZUS pokazanych na diagramie.</p>
                <button type="button" class="btn btn-primary" href="#">Kalkulator wynagrodzeń</button>
            </div>
            <div class="col-sm-3">
                <img th:src="@{/static/img/calculatorChart.jpg}" style="width: 200px; height: 125px">
            </div>
        </div>
        <div class="row">
            <div class="col-sm-9">
                <h3><b>Kreator CV</b></h3>
                <p>Stwórz własne CV spośród dostępnych szablonów, które pozwoli się wyróżnić sposród innych osób. Wystarczy, że wypełnisz
                wszystkie wymagane pola, które zostaną zapisane na Twoim koncie.
                    Funkcja dostępna tylko dla osób posiadające konto na stronie.</p>
                <button type="button" class="btn btn-primary" href="#">Kreator CV</button>
            </div>
            <div class="col-sm-3">
                <img th:src="@{/static/img/kreatorCV.png}" style="width: 200px; height: 125px">
            </div>
        </div>
    </div>
</section>
<div th:replace="fragments/footer.html :: footerFragment"></div>
</body>
</html>